body, div {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* isometric */
.terrain:hover {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.6);
    z-index: 9999999;
    cursor: pointer;
}

.building:hover {
    box-shadow: inset 0px 0px 10px rgba(255,255,255,0.6);
    z-index: 9999999;
    cursor: pointer;
}

/* text effects */
.ml13 {
    color: #fff;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
}

.ml13 .letter {
    display: inline-block;
    line-height: 1em;
}
